/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #070b14;
  color: #fff;
}

/* HEADER + MENU */
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #120a2a;
  color: #fff;
}
.logo {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 2px;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  position: relative;
  transition: 0.3s;
}
.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background: #1b53ff;
  transition: width 0.3s;
}
.navbar a:hover::after {
  width: 100%;
}
.navbar a:hover {
  color: #1b53ff;
}
